<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="wrapper-page">
                <img alt="" height="120" src="/images/animat-search-color.gif">
                <h2 class="text-uppercase text-danger">Page Not Found</h2>
                <a class="btn btn-success waves-effect waves-light m-t-20" href="/">Return Home</a>
            </div>
        </div>
    </div>