<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Redeem Robux</h4>
            </div>
        </div>
    </div>

    <div style="text-align: center; margin-bottom: 20px;">
        <h3>Recieve Robux</h3>
        <p class="text-muted">
            You can redeem <i class="fa fa-diamond"></i>'s here for an instant Robux deposit into your account. Your balance of <i class="fa fa-diamond"></i>'s will not be deducted until the Robux transaction is complete.
        </p>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-border panel-success">
            <div class="panel-heading">
                <h2 class="panel-title" style="font-size:25px;">R$ 100</h2>
            </div>
            <div class="panel-body" style="text-align: center;">
            <img src="http://vignette4.wikia.nocookie.net/roblox/images/0/06/ROBUX.png/revision/latest?cb=20160613050926" style="max-width:100%" />
            <% if(!funds['100']) { %>
            <span class="robux-label label label-danger">Out of stock</span>
            <% } %>
            <button type="button" data-withdraw-amt="100" class="btn-withdraw btn btn-block btn--md btn-success waves-effect waves-light <% if(!funds['100']) { %> disabled <% } %>"><i class="fa fa-diamond"></i> 1000</button>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-border panel-success">
            <div class="panel-heading">
                <h2 class="panel-title" style="font-size:25px;">R$ 500</h2>
            </div>
            <div class="panel-body" style="text-align: center;">
            <img src="http://vignette4.wikia.nocookie.net/roblox/images/0/06/ROBUX.png/revision/latest?cb=20160613050926" style="max-width:100%" />
            <% if(!funds['500']) { %>
            <span class="robux-label label label-danger">Out of stock</span>
            <% } %>
            <button type="button" data-withdraw-amt="500" class="btn-withdraw btn btn-block btn--md btn-success waves-effect waves-light <% if(!funds['500']) { %> disabled <% } %>"><i class="fa fa-diamond"></i> 5000</button>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-border panel-success">
            <div class="panel-heading">
                <h2 class="panel-title" style="font-size:25px;">R$ 1000</h2>
            </div>
            <div class="panel-body" style="text-align:center;">
            <img src="http://vignette4.wikia.nocookie.net/roblox/images/0/06/ROBUX.png/revision/latest?cb=20160613050926" style="max-width:100%" />
            <% if(!funds['1000']) { %>
            <span class="robux-label label label-danger">Out of stock</span>
            <% } %>
            <button type="button" data-withdraw-amt="1000" class="btn-withdraw btn btn-block btn--md btn-success waves-effect waves-light <% if(!funds['1000']) { %> disabled <% } %>"><i class="fa fa-diamond"></i> 10000</button>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-border panel-success">
            <div class="panel-heading">
                <h2 class="panel-title" style="font-size:25px;">R$ 5000</h2>
            </div>
            <div class="panel-body" style="text-align:center;">
            <img src="http://vignette4.wikia.nocookie.net/roblox/images/0/06/ROBUX.png/revision/latest?cb=20160613050926" style="max-width:100%" />
            <% if(!funds['5000']) { %>
            <span class="robux-label label label-danger">Out of stock</span>
            <% } %>
            <button type="button" data-withdraw-amt="5000" class="btn-withdraw btn btn-block btn-bordered btn--md btn-success waves-effect waves-light <% if(!funds['5000']) { %> disabled <% } %>"><i class="fa fa-diamond"></i> 50000</button>
            </div>
        </div>
    </div>

</div>
