<div class="container">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Support</h4>
            </div>
        </div>
    </div><!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-sm-12">
            <div class="p-20">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <h3 class="font-600">FAQ</h3>
                            <p class="text-muted">If you have an issue with the site, consult the FAQ. If you question is unanswered, you can join the RBX.EXCHANGE discord for further support from <b>chrome#5584</b>.</p><a href="https://discord.gg/2fzErdH" target="_blank" class="btn btn-primary waves-effect waves-light m-t-10 btn-bordered" type="button">Support Discord</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
                <div class="row m-t-50">
                    <div class="col-md-5 col-md-offset-1 p-20">
                        <!-- Question/Answer -->
                        <div>
                            <div class="question-q-box">
                                Q.
                            </div>
                            <h4 class="question" data-wow-delay=".1s">I didn't get my gems?</h4>
                            <p class="answer">We do not run the surveys that you are completing, we recieve them from a 3rd party network. If you did not recieve gems for an offer you completed, you either did not complete the entire offer, or the offer did not report it as completed to us. If this is case, there is nothing we can do.</p>
                        </div><!-- Question/Answer -->
                        <div>
                            <div class="question-q-box">
                                Q.
                            </div>
                            <h4 class="question">Is this legit?</h4>
                            <p class="answer">Yes. This is 100% legit and we have paid out more than R$ 100k to our users. When you redeem Robux, and you are a member of the group, you will recieve a instant group payout to your Roblox account.</p>
                        </div><!-- Question/Answer -->
                        <div>
                            <div class="question-q-box">
                                Q.
                            </div>
                            <h4 class="question">Can I download apps from my mobile device?</h4>
                            <p class="answer">Yes. The site will show you all offers that are avilable on the platform you access the site from. This includes app downloads on mobile devices.</p>
                        </div>
                    </div><!--/col-md-5 -->
                    <div class="col-md-5 p-20">
                        <!-- Question/Answer -->
                        <div>
                            <div class="question-q-box">
                                Q.
                            </div>
                            <h4 class="question">Your Robux is all out of stock!</h4>
                            <p class="answer">We try to keep the Robux group constantly stocked. If we are out of stock, it will most likely be back in stock in a few hours. If not, you can notify me via Discord, if you wish.</p>
                        </div><!-- Question/Answer -->
                        <div>
                            <div class="question-q-box">
                                Q.
                            </div>
                            <h4 class="question">Everytime I try to login it does not work?</h4>
                            <p class="answer">Our site validates that your user actually exists, if it does not, or there is an error on Roblox's end, you will be redirected to the homepage.</p>
                        </div><!-- Question/Answer -->
                        <div>
                            <div class="question-q-box">
                                Q.
                            </div>
                            <h4 class="question">Why do you not require passwords?</h4>
                            <p class="answer">There is no point of it. When you are logged into an account, you can only complete offers for that user, or redeem Robux to their account. Gems are non transferable.</p>
                        </div>
                    </div><!--/col-md-5-->
                </div>
					<div class="col-md-6 col-md-offset-3 p-20">
						<iframe id="ytplayer" type="text/html" width="100%" height="500px"
						src="https://www.youtube.com/embed/1jkZ9_wMiOA"
						frameborder="0"></iframe>
					</div>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div>
